footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    border-top: 1px solid #cccccc;
}
p {
    text-align: center;
}