.filter {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px;
    border-color: #dddddd;
    border-radius: 4px;
    position: relative;
    border-style: solid;
}
.butt {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.butt:hover{
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    margin-left: 30px;
    border-right: 1px solid #dddddd;
    
}

.amenities {
    height: 100%;
    width: 25%;
    margin-left: 30px;
    
}

h3 {
    font-weight: 600;
    margin-bottom: 0px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}
