.filter {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px;
    border-color: #dddddd;
    border-radius: 4px;
    position: relative;
    border-style: solid;
}
.butt {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.butt:hover{
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    margin-left: 30px;
    border-right: 1px solid #dddddd;

}

.amenities {
    height: 100%;
    width: 25%;
    margin-left: 30px;

}

h3 {
    font-weight: 600;
    margin-bottom: 0px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

.popover {
    margin-top: 19px;
    background-color: #FAFAFA;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 1%;
    margin-left: -30px;
    display: none;


}

.popover ul {
    margin: 0;
    padding: 0;
}

.popover .ameni{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.popover li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 7px;
    padding-left: 20px;
    margin-left: -15px;

}
.popover h2 {
    margin: 0px;
    margin-bottom: 7px;
    font-size: 16px;
    margin-top: 30px;
}

.locations:hover .popover, .amenities:hover .popover{
    display: block;
}

